body{
    background-color: rgb(237,234,227) !important;
}

a {
    color: rgb(54,74,83) !important;
  }


.nav-link, .navbar-brand{
    color: black;
    margin-top: 30px;
}

.header-container{
    height: 100vh;
}

.blob-one{
    height: 80%;
    background-color: rgb(166,161,175);
    border-radius: 24% 76% 27% 73% / 46% 74% 26% 54% ;
    margin-top: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    animation: morphOne 15s ease-in-out infinite;
    transition: all 3s ease-in-out;
}

@keyframes morphOne {
    0% {
              border-radius:  24% 76% 27% 73% / 46% 74% 26% 54%;
              /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
      } 
      
      50% {
              border-radius:  51% 49% 84% 16% / 85% 67% 33% 15%;
              /* background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%); */
      }
    
      100% {
          border-radius:  24% 76% 27% 73% / 46% 74% 26% 54%;
          /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
      } 
  }

.blob-two{
    height: 400px;
    background-color: rgb(204,158,83);
    border-radius: 44% 56% 56% 44% / 38% 68% 32% 62%;
    margin-top: 30%;
    opacity: 80%;
    animation: morphTwo 8s ease-in-out infinite;
    transition: all 2s ease-in-out;

}    


@keyframes morphTwo {
    0% {
              border-radius:  44% 56% 56% 44% / 38% 68% 32% 62%;
              /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
      } 
      
      50% {
              border-radius:  54% 46% 70% 30% / 56% 30% 70% 44%;
              /* background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%); */
      }
    
      100% {
          border-radius:  44% 56% 56% 44% / 38% 68% 32% 62%;;
          /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
      } 
  }


.blob-three{
    height: 90%;
    background-color:rgb(234,209,195);
    border-radius: 24% 76% 27% 73% / 46% 64% 36% 54% ;
    margin-top: 15% ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    animation: morphOne 15s ease-in-out infinite;
    transition: all 3s ease-in-out;

}
.blob-four{
    height: 80%;
    background-color:rgb(220,101,86);
    border-radius: 44% 56% 56% 44% / 38% 68% 32% 62%;
    margin-bottom: 30%;
    opacity: 80%;
    animation: morphTwo 8s ease-in-out infinite;
    transition: all 2s ease-in-out;

}
.intro{
    max-width: 60%;
    top: 50%;
    font-size: 1.25em;

}


.blob-project{
    background-color: rgb(54,74,83);
    border-radius: 44% 56% 56% 44% / 38% 68% 32% 62%;
    opacity: 80%;
    animation: morphTwo 8s ease-in-out infinite;
    transition: all 2s ease-in-out;

}

.blob-project-inner{
    background-color: rgb(176,151,155);
    border-radius: 43% 57% 70% 30% / 47% 51% 49% 53%;
    animation: morphOne 22s ease-in-out infinite;
    transition: all 10s ease-in-out;

}

.project-details {
background-color:transparent !important;
}

.aboutImage{
    height: 300px;
    width: 300px;
    border-radius: 70px;
    border: 2px rgb(54,74,83) solid;
}
.projectImage{
    height: 300px;
    width: 400px;
    /* border-radius: 20px; */
    border: 1px white solid;
}


.card-container{
    background-color: transparent !important;
    margin-top: 100px;
    
}

.card{
    background-color:transparent !important;
    border: none !important;
}

.icons{
    height: 30px;
    width: 30px;
}


.btn{
    box-shadow: 1px 1px ;
}
