body{
    background-color: rgb(237,234,227) !important;
}

.nav-link, .navbar-brand{
    color: black;
    margin-top: 30px;
}

/* .footer{
    border-top: 1px solid black;
    position: fixed;bottom: 0;
} */

.header-container{
    height: 100vh;
}

.blob-one{
    height: 80%;
    background-color: rgb(166,161,175);
    border-radius: 24% 76% 27% 73% / 46% 74% 26% 54% ;
    margin-top: 20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}

.intro{
    max-width: 60%;
    top: 50%;
    font-size: 1.25em;

}
.blob-two{
    height: 400px;
    background-color: rgb(204,158,83);
    border-radius: 44% 56% 56% 44% / 38% 68% 32% 62%;
    margin-top: 30%;
    opacity: 80%;

}

.blob-project{
    background-color: rgb(54,74,83);
    border-radius: 44% 56% 56% 44% / 38% 68% 32% 62%;
    opacity: 80%;

}

.blob-project-inner{
    background-color: rgb(176,151,155);
    border-radius: 43% 57% 70% 30% / 47% 51% 49% 53%;
    margin-right: 40px;
    /* opacity: 80%; */

}

.project-details {
background-color:transparent !important;
border: 1px solid black;
display: inline-block;



}
.project-image-container{
    border: 1px solid black;
    display: inline-block;
    

}

.card-container{
    background-color: transparent !important;
    margin-top: 100px;
}

.card{
    background-color:transparent !important;
}

.app-logo{
    height: 45px;
    width: 45px;
}

.logoContainer{
    align-items: center;
    margin: 15px auto;
    border: 1px solid black;
}

.btn{
    box-shadow: 1px 1px ;
}